.trang-thai {
  grid-area: trang-thai;
}

.huong {
  grid-area: huong;
}

.can-so {
  grid-area: can-so;
}

.chan-ga {
  grid-area: chan-ga;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'trang-thai trang-thai trang-thai trang-thai trang-thai trang-thai'
    'huong huong huong can-so chan-ga chan-ga';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;

  grid-template-rows: 50px 250px;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#Vrange {
  transform: rotate(-90deg);
}


.vo-lang{ 
  position: absolute;
  display: block;
 
  top: 23.5%;
  left: 4.5%;
  background: #fff;
  width: 5.5em;
  height: 5.5em;

  border-radius: 100%;
  border-style: solid;
  border-width: thin;
  border-color: #000000;
  margin: 0em;
}

#bk {
  position: absolute;
  height: 0px;
  width: 50%;
  border: 1px solid black;
  top: 50%;
  
  transform-origin: center right;
  transform: rotate(-90deg);
}

#dk {
  position: absolute;
  height: 0px;
  width: 100%;
  border: 1px solid black;
  top: 50%;
  
}